@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Crete+Round&family=Lobster+Two:ital@0;1&display=swap');
@import 'base';

// Variables;
$ff-baloo: 'Baloo 2', cursive;
$ff-crete-round: 'Crete Round', serif;
$ff-lobster-two: 'Lobster Two', cursive;

// Navbar
header.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
    img {
        width: 55px;
        object-fit: cover;
    }
    p.brand-name {
        font-size: 24px;
        font-family: $ff-crete-round;
        span {
            color: red;
        }
    }
}
.hamberger img.icons {
    width: 28px !important;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: .25;
    transition:all 0.75s ease-in-out;
    z-index: 1;
}
nav.nav {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -40%;
    width: 0;
    transition:all 0.75s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 2;
    .nav-close {
        margin-top: 10px;
        float: right;
        margin-right: 10px;
    }
    ul {
        margin-top: 3.7rem;
        margin-left: 20px;
        list-style: none;
        li {
            font-size: 24px;
            font-family: $ff-crete-round;
            margin-top: 10px;
        }
    }
}
nav.nav.active {
    left: 0;
    width: 62%;
    transition:all 0.45s ease-in-out;
}

// Hero Section
.hero {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hero-text {
    width: 100%;
    p {
        font-size: 60px;
        font-family: $ff-crete-round;
        strong {
            font-weight: 400;
            color: red;
        }
    }
    h2 {
        margin-top: 25px;
        font-size: 24px;
        font-family: $ff-baloo;
        line-height: 1.2;
        span {
            color: red;
        }
    }
    .hero-btn-group {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        .btn-main{
            background: white;
        }
        .outline {
            border-color: red;
            color: red;
            &:hover {
                background: red;
                color: white;
            }
        }
    }
}
.hero-images {
    width: 100%;
    text-align: center;
    img.hero-img{
        display: none;
        width: 100%;
        max-height: 550px;
        max-width: 550px;
        object-fit: contain;
    }
    img.hero-img.active{
        display: flex;
    }
}

// Best items
.best-items{
    .items-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2.7rem;
        .item {
            background: blue;
            padding: 8px;
            border-radius: 15px;
            width: 100%;
            min-height: 240px;
            background-image: linear-gradient(to bottom right, grey, white);
            position: relative;
            img.item-img {
                width: 240px;
                position: absolute;
                top: -40px;
                right: 0;
            }
            img.buy-cart {
                width: 35px;
                position: absolute;
                bottom: 18px;
                right: 18px;
                fill: red;
            }
            .item-info-group {
                position: absolute;
                bottom: 0;
                margin-bottom: 15px;
                .item-title {
                    font-size: 32px;
                    font-family: $ff-crete-round;
                    letter-spacing: .2ch;
                    color: white;
                }
                .item-addon {
                    margin-top: 7px;
                    font-size: 16px;
                    font-family: $ff-lobster-two;
                }
                .item-price {
                    margin-top: 15px;
                    font-size: 22px;
                    font-family: $ff-lobster-two;
                    font-weight: 900;
                    color: red;
                    .item-marked-price {
                        margin-left: 15px;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

// Menu Items
.menu {
    .menu-container {
        table {
            width: 100%;
            tr.menu-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                th {
                    font-size: 24px;
                    font-family: $ff-baloo;
                    margin-bottom: 8px;
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        width: 60px;
                        height: 3px;
                        background: red;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                th:first-child {
                    margin-left: 17px;
                }
                th:last-child {
                    margin-right: 17px;
                }
                td {
                    font-size: 22px;
                    font-family: $ff-crete-round;
                    margin-bottom: 8px;
                    position: relative;
                    display: flex;
                    align-items: center;
                }
                /*
                td.hot{
                    &::after {
                        content: url('/images/svg/flame.svg');
                        width: 25px;
                        height: 25px;
                        // background-image: url('/images/svg/flame.svg');
                        position: absolute;
                        bottom: -3px;
                        right: -25px;
                    }
                }
                */
            }
        }
    }
}

// Map
.maps {
    .map-text {
        text-align: center;
        h2 {
            margin-top: 18px;
            font-size: 36px;
            font-family: $ff-baloo;
        }
        p {
            margin-top: 18px;
            margin-bottom: 18px;
            font-size: 25px;
            font-family: $ff-lobster-two;
        }
        button.outline {
            margin-top: 22px;
            border-color: red;
            color: red;
            &:hover {
                background: red;
                color: white;
            }
        }
    }
}

// Contact
.contact {
    form.form {
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        .form-control {
            font-size: 17px;
            font-family: $ff-crete-round;
            width: 95%;
            border-radius: 12px;
            padding: 10px 8px;
            margin-bottom: 14px;
            border: 2px solid #f3f3f3;
            outline-color: transparent;
            &:focus {
                border: 2px solid red;
                outline-color: red;
            }
        }
        .btn.outline {
            margin-top: 22px;
            border-color: red;
            color: red;
            &:hover {
                background: red;
                color: white;
            }
        }
    }
}

// Footer
.footer {
    padding: 15px;
    p {
        font-size: 18px;
        font-family: $ff-baloo;
        font-weight: 600;
        text-align: center;
        span {
            a {
                text-decoration: none;
                color: red;
            }
        }
    }
}